<!DOCTYPE html>
<html>
<head>
  <title>Restaurant</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color: #EAEAEA">

  <%= render "shared/nav" %>
  <!-- Header Carousel -->
  <%= render "shared/slide" %>

  <!-- Page Content -->
  <div class="container">

      <!-- Marketing Icons Section -->
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">
            Latest Reviews
          </h1>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4><i class="fa fa-fw fa-check"></i> Restaurant 1</h4>
            </div>
            <div class="panel-body">
              <%= image_tag asset_path('review1'), style: "height:100%; width:100%" %>
              <div class="divider"></div>

                <div class="review-item-info">
                  <div class="review-top-section">
                    <div class="review-title">
                      <h4>
                        <a href="https://eatout.co.ke/nairobi/snack-attack-sarit-centre">Snack Attack
                        </a>
                      </h4>
                    </div>
                    <div>
                      <p class="d" style="margin-bottom:5px;">
                        Sarit Centre <br />Westlands,  Nairobi
                      </p>
                      <span class="star active starmedium"></span>
                      <span class="star active starmedium"></span>
                      <span class="star active starmedium"></span>
                      <span class="star starmedium"></span>
                      <span class="star starmedium"></span>
                      <span class="review_count" style="padding-left:10px;">
                        <strong>4</strong>reviews
                      </span>
                    </div>
                  </div>
                    <div class="people-reviews">
                      <ul class="media-list">
                        <li class="media">
                          <div class="media-body">
                            <span class="user_link">
                              <a href="https://eatout.co.ke/user/view/u45a99413">
                                <strong>Elton</strong>
                              </a> says:
                            </span>
                            <div class="review-holder">
                              <a href="https://eatout.co.ke/nairobi/snack-attack-sarit-centre#reviews" class="review">I loved the veggie combo, TexMex, the service was very fast. Will be coming here...</a>
                            </div>
                            <div class="rating-holder clearfix">
                              <div class="frating">
                                <span class="star active"></span>
                                <span class="star active"></span>
                                <span class="star active"></span>
                                <span class="star active"></span>
                                <span class="star"></span>
                              </div>
                              <span class="info pull-right"><i class="icon-time"></i> 4 days ago</span>
                            </div>
                          </div>
                        </li>
                        <li class="media">
                          <div class="media-body">
                            <span class="user_link">
                              <a href="https://eatout.co.ke/user/view/u8d72f258">
                                <strong>Suzanne</strong>
                              </a> says:
                            </span>

                            <div class="review-holder">
                              <a href="https://eatout.co.ke/nairobi/snack-attack-sarit-centre#reviews" class="review">
                                Not bad for fast food!!! If you have a large appetite go for the combo, if you'r...
                              </a>
                            </div>

                            <div class="rating-holder clearfix">
                              <div class="frating">
                                <span class="star active"></span>
                                <span class="star active"></span>
                                <span class="star active"></span>
                                <span class="star active"></span>
                                <span class="star"></span>
                              </div>
                              <span class="info pull-right">
                                <i class="icon-time"></i>4 months ago
                              </span>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                <div class="clearfix"></div>
                <p class="read-more">
                  <a href="https://eatout.co.ke/nairobi/snack-attack-sarit-centre#reviews">
                    Read all (<strong>4</strong>) reviews &rsaquo;
                  </a>
                </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4><i class="fa fa-fw fa-gift"></i> Free &amp; Open Source</h4>
            </div>
            <div class="panel-body">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?
              </p>
              <a href="#" class="btn btn-default">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4><i class="fa fa-fw fa-compass"></i> Easy to Use</h4>
            </div>
            <div class="panel-body">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?
              </p>
              <a href="#" class="btn btn-default">Learn More</a>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->

      <!-- Portfolio Section -->
      <div class="row">
          <div class="col-lg-12">
              <h2 class="page-header">Portfolio Heading</h2>
          </div>
          <div class="col-md-4 col-sm-6">
              <a href="portfolio-item.html">
                  <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
              </a>
          </div>
          <div class="col-md-4 col-sm-6">
              <a href="portfolio-item.html">
                  <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
              </a>
          </div>
          <div class="col-md-4 col-sm-6">
              <a href="portfolio-item.html">
                  <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
              </a>
          </div>
          <div class="col-md-4 col-sm-6">
              <a href="portfolio-item.html">
                  <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
              </a>
          </div>
          <div class="col-md-4 col-sm-6">
              <a href="portfolio-item.html">
                  <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
              </a>
          </div>
          <div class="col-md-4 col-sm-6">
              <a href="portfolio-item.html">
                  <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
              </a>
          </div>
      </div>
      <!-- /.row -->

      <!-- Features Section -->
      <div class="row">
          <div class="col-lg-12">
              <h2 class="page-header">Modern Business Features</h2>
          </div>
          <div class="col-md-6">
              <p>The Modern Business template by Start Bootstrap includes:</p>
              <ul>
                  <li><strong>Bootstrap v3.2.0</strong>
                  </li>
                  <li>jQuery v1.11.0</li>
                  <li>Font Awesome v4.1.0</li>
                  <li>Working PHP contact form with validation</li>
                  <li>Unstyled page elements for easy customization</li>
                  <li>17 HTML pages</li>
              </ul>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
          </div>
          <div class="col-md-6">
              <img class="img-responsive" src="http://placehold.it/700x450" alt="">
          </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Call to Action Section -->
      <div class="well">
          <div class="row">
              <div class="col-md-8">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
              </div>
              <div class="col-md-4">
                  <a class="btn btn-lg btn-default btn-block" href="#">Call to Action</a>
              </div>
          </div>
      </div>

      <hr>

      <!-- Footer -->
      <footer>
          <div class="row">
              <div class="col-lg-12">
                  <p>Copyright &copy; Your Website 2014</p>
              </div>
          </div>
      </footer>

  </div>

  <!-- Script to Activate the Carousel -->
  <script>
  $('.carousel').carousel({
    interval: 5000 //changes the speed
  })
  </script>
  <%= yield %>

</body>
</html>
